
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
}
body{
     font-family: "Inter" sans-serif;
     background-color: hsl(233, 47%, 7%);
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-style: normal;
   font-variation-settings:"slnt" 0;
}
main{
     
     width: 55%;
     margin: 70px auto;
     padding: 40px 30px;
}
.card-containter{
     background-color:hsl(244, 38%, 16%);
     /* max-width: 80%; */
     height: 250px;
     margin: auto 50px;
     padding: 20px 15px;
     

}
#info{
     margin:15px;
}
#info h1{
     font-size: 25px;
     color:hsl(0, 0%, 100%) ;
     line-height: 1.5rem;
     text-align: left;
     
}
#primary{
     color: hsl(277, 64%, 61%) ;
}
#content p{
     font-size: 14px;
     text-align:left ;
     line-height: 18px;
     /* padding: 40px auto; */
     margin-right: 250px;
     color: hsla(0, 0%, 100%, 0.6);
}
#imageInfo{
     position: absolute;
     right: 330px;
     top: 110px;
     
}
#imageInfo img{
     width: 250px;
     height: 250px;
}
.flex{
     display: flex;
     justify-content: space-around;
     margin-top: auto;
     gap: 10px;
     padding: 10px;
     width: 10%;
}
h2{
     font-size: 20px;
     color: hsl(0, 0%, 100%);
     padding: auto;
     margin-top: 10px;
}
.flexcont ul {
     display: block;
     /* padding: 5px 0; */
     margin-left: 5px;
}
.flexcont ul li{
     list-style-type: none;
     text-align: center;

}
.flexcont ul li a{
     font-size: 13px;
     align-items: right;
     text-decoration: none;
     color: hsla(0, 0%, 100%, 0.6);
}
/* mobile design */
@media screen and (min-width:320px)and (max-width:826px){
     .card-containter{
          margin: 0 70px;
          display: block;
          width: 100%;
          height: 800px;
          margin-top: 100px;
     }

#info h1{
     margin-top: 40px;

}
#imageInfo{
     position: absolute;
     right: 100px;
     color:hsl(277, 64%, 61%) ;
}
}
    



